# editor config or temporary files
.idea/
*~
*.swp
\#*\#
*.icloud
pygmds/tst/__pycache__

# OS junk files
[Tt]humbs.db
*.DS_Store
cmake-build-*/
build*/
.vs

# Thumbnails
._*


# external: 
# WARNING: one should only add projects in external or switch to a newer version of a project,
# other modifications should be carefully considered.
# comment when necessary
external/

# spack files when dev-build
spack-build*
spack-configure*

# add it just in case because someone happened to pushed it once
spack/
