name: windows-ci

on:
  workflow_dispatch:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
    
jobs:
  Continuous:
    runs-on: windows-latest
    steps:
  
    - name: Check out repository code
      uses: actions/checkout@v4
        
    - name: Setup cmake
      uses: jwlawson/actions-setup-cmake@v1.13.1
      with:
        cmake-version: '3.21.x'

    - name: Create Build Environment
      run: |
        git clone https://github.com/Microsoft/vcpkg.git
        .\vcpkg\bootstrap-vcpkg.bat -disableMetrics
        vcpkg install --triplet x64-windows gtest pybind11 eigen3
        vcpkg list
        vcpkg integrate install

    - name: Configure
      run: >
        cmake -S ${{github.workspace}} -B ${{github.workspace}}/build -Ax64
        -DVCPKG_TARGET_TRIPLET=x64-windows
        -DWITH_TEST:BOOL=ON 
        -DWITH_PYTHON_API:BOOL=OFF
        -DENABLE_BLOCKING:BOOL=OFF
        -DENABLE_CLAIRE:BOOL=OFF
        -DENABLE_ELG3D:BOOL=OFF
        -DENABLE_HYBRIDMESHADAPT:BOOL=OFF
        -DENABLE_PADDING:BOOL=OFF
        -DENABLE_POLYBLOCK:BOOL=OFF
        -DBUILD_SHARED_LIBS:BOOL=ON
        -DCMAKE_TOOLCHAIN_FILE="C:/vcpkg/scripts/buildsystems/vcpkg.cmake"
        
    - name: Build Environment 
      run: cmake --build ${{github.workspace}}/build --config Release --parallel 2

    - name: Run tests
      run: cmake --build build --target RUN_TESTS --config Release
      
    - name: Install
      run: cmake --install build --prefix ${{github.workspace}}/buildinstall --config Release
      
      

